@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* general */
*{
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}
a{
  text-decoration: none;
  color: #000000;
}
h1{
  font-size: 52px;
  font-weight: 800;
  text-align: center;
}
.visible{
  opacity: 1;
  visibility: visible;
}
main{
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark-mode{
  color: #fff;
  background-color: #242424;
}
.options-button,
body .bx-sun,
.dark-mode .bx-moon{
  display: none;
}
.dark-mode .bx-sun{
  display: flex;
}
.dark-mode .menu a,
.dark-mode .menu button,
.dark-mode header li{
  border-color: #fff;
}
.dark-mode .menu a,
.dark-mode .menu button,
.dark-mode a{
  color: #fff;
}
.dark-mode header li{
  background-color: #242424;
}
/* header */
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  gap: 20px;
}
header ul{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  list-style: none;
  gap: 20px;
}
header li{
  background-color: #fff;
  border: solid 2px #000000;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 500;
  text-align: center;
  height:fit-content;
}
.hex:hover{  background-color: #A0EEFF; }
.rgb:hover{  background-color: #FFFBA0; }
.quo:hover{  background-color: #FFA0D9; }
.chro:hover{  background-color: #FFA0A0; }
.to-do:hover{  background-color: #ADFFA0; }

.dark-mode .hex:hover{  background-color: #14B7DB; }
.dark-mode .rgb:hover{  background-color: #FAB225; }
.dark-mode .quo:hover{  background-color: #EF37A6; }
.dark-mode .chro:hover{  background-color: #F44747; }
.dark-mode .to-do:hover{  background-color: #64E038; }
/* menu */
.menu{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40px;
  right: 40px;
  gap: 20px;
}
.menu a,
.menu button{
  border: solid 1.5px #000000;
  border-radius: 100%;
  padding: 8px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background: none;
  box-sizing: border-box;
}
.menu a:hover,
.menu button:hover {
 background-color: #ADA0FF; 
}
.dark-mode .menu a:hover,
.dark-mode .menu button:hover { 
  background-color: #5E4FB6; 
}
.menu .bx{
  font-size: 25px;
}

@media (max-width: 430px){
  .options-button{
    display: flex;
  }
  header ul{
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 40px;
    right: 110px;
  }
}