.container{
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.new-task{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.new-task input{
  background: none;
  border: none;
  color: #000;
  outline: none;
  font-size: 20px;
}
.new-task input::placeholder{
  color: #000;
}
.new-task button{
  width: 37px;
  font-size: 25px;
  background-color: #ADFFA0;
  border: solid 2px #000;
  border-radius: 5px;
  cursor: pointer;
}